@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CarBookingUpdate>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Intranet.ModelCollection;
@{
    Layout = "CarBooking.cshtml";
}

@{
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
    //  In production table name should change from 'tblCarBookingTestin' To 'tblCarBookingTesting'      //
    ///////////////////////////////////////////////////////////////////////////////////////////////////////
}

@{
    var tblCarBooking = "tblCarBookingTesting";
    int currentPage = 0;
    var myDb = new PetaPoco.Database("FIHRDBPath");
    string queryDb = String.Format("SELECT * FROM {0} ORDER BY No DESC", tblCarBooking);
    if (IsPost)
    {
        if (Request.Form["submitCarbookingSearch"] == "submitCarbookingSearch")
        {
            //Variable for Previous request
            var CarBookingSearchStartDate = Request.Form["CarBookingSearchStartDate"];
            var CarBookingSearchEndDate = Request.Form["CarBookingSearchEndDate"];
            var CarBookingSearchStatusSelect = Request.Form["CarBookingSearchStatusSelect"];
            var CarBookingSearchDepartmentSelect = Request.Form["CarBookingSearchDepartmentSelect"];

            //Generate query
            queryDb = string.Format(
                "SELECT * FROM {4} WHERE BookingDate > '{0}' AND BookingDate < '{1}' AND Department like '%{2}%' AND Status LIKE '%{3}%'",
                CarBookingSearchStartDate,
                CarBookingSearchEndDate,
                CarBookingSearchDepartmentSelect,
                CarBookingSearchStatusSelect,
                tblCarBooking
                );
            currentPage += 1;

        }
        //For deleting CARBOOKING Request
        else if (Request.Form["DeleteBooking"] == "DeleteBooking")
        {
            var fi_obj_delete = new fi_CarBooking();
            fi_obj_delete.No = Request.Form["postDeleteNo"];
            myDb.Delete(String.Format("{tblCarBooking}", tblCarBooking), "No", fi_obj_delete);
            Response.Redirect("~/car-booking-update/");
        }
        else
        {
            currentPage = Convert.ToInt32(Request.Form["btnPage"]);
        }
    }
    else
    {
        currentPage += 1;
    }
    //Open database connection and Execute the query
    PetaPoco.Page<fi_CarBooking> ListCarBooking;
    ListCarBooking = myDb.Page<fi_CarBooking>(currentPage, 60, queryDb);
    var listDepartment = myDb.Query<fi_department>("SELECT * FROM Departments");
    int i = 0;

}

@{ 
    //Set defualt time for searching
    var setDefualtTimeCurFrom = String.Format("{0:u}", DateTime.Now.AddDays(-(DateTime.Now.Day)+1)).Substring(0, DateTime.Now.ToString().IndexOf(" ")+1);
    var setDefualtTimeCurTo = String.Format("{0:u}", DateTime.Now).Substring(0, DateTime.Now.ToString().IndexOf(" ") + 1);
}
<hr />
<div class="text-center">
    <form action="#" method="post">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group row">
                    <label for="Model" class="col-sm-2 col-form-label">From</label>
                    <div class="col-sm-10">
                        <input type="date" style="border-radius:25px" class="form-control" name="CarBookingSearchStartDate" value="@setDefualtTimeCurFrom" placeholder="Enter car model">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group row">
                    <label for="Model" class="col-sm-2 col-form-label">To</label>
                    <div class="col-sm-10">
                        <input type="date" style="border-radius:25px" class="form-control" name="CarBookingSearchEndDate" value="@setDefualtTimeCurTo" placeholder="Enter car model">
                    </div>
                </div>
            </div>

            <div class="col-sm-2 border-left border-gray">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <select name="CarBookingSearchStatusSelect" class="custom-select" style="border-radius:25px">
                            <option value="" selected>Status</option>
                            <option value="A">Active</option>
                            <option value="D">Depart</option>
                            <option value="C">Cancel</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 border-left border-gray">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <select name="CarBookingSearchDepartmentSelect" class="custom-select" style="border-radius:25px">
                            <option value="" selected>Departments</option>
                            @foreach (var dData in listDepartment)
                            {
                                <option value="@dData.ID">@dData.DeptName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 border-left border-gray">
                <button style="border-radius:25px;" type="submit" value="submitCarbookingSearch" name="submitCarbookingSearch" class="btn btn-outline-dark">Search</button>
            </div>
        </div>
    </form>
</div>
<hr />

<table class="table table-sm">
    <thead class="thead-light" style="font-weight:300">
        <tr>
            <th scope="col">No</th>
            <th scope="col">App Date</th>
            <th scope="col">Time</th>
            <th scope="col">Booker</th>
            <th scope="col">Dept</th>
            <th scope="col">BookingDate</th>
            <th scope="col">ETD</th>
            <th scope="col">ETA</th>
            <th scope="col">Car</th>
            <th scope="col">Destination</th>
            <th scope="col">Reason</th>
            <th scope="col">Status</th>
            <th scope="col">Destination</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in ListCarBooking.Items)
        {
            <tr>
                <td>@row.No</td>
                <td>@row.AppointmentDate.Substring(0, @row.AppointmentDate.IndexOf(" "))</td>
                <td>@row.Time</td>
                <td>@row.BookerName</td>
                <td>@row.Department</td>
                <td>@row.BookingDate.Substring(0, @row.AppointmentDate.IndexOf(" "))</td>
                <td>@row.ETD</td>
                <td>@row.ETA</td>
                <td>@row.Car</td>
                <td>@row.Destination</td>
                <td>@row.Reason</td>
                <td>@row.Status</td>
                <td>
                    <div class="btn-group" role="group">
                        @*View Popup Model*@
                        <form action="~/car-booking-update-detail" method="post">
                            <input type="number" hidden name="postNo" value="@row.No" />
                            <input type="text" hidden name="postAppointmentDate" value="@row.AppointmentDate" />
                            <input type="text" hidden name="postTime" value="@row.Time" />
                            <input type="text" hidden name="postBookerName" value="@row.BookerName" />
                            <input type="text" hidden name="postDepartment" value="@row.Department" />
                            <input type="text" hidden name="postBookingDate" value="@row.BookingDate" />
                            <input type="time" hidden name="postETA" value="@row.ETA" />
                            <input type="time" hidden name="postETD" value="@row.ETD" />
                            <input type="text" hidden name="postCar" value="@row.Car" />
                            <input type="text" hidden name="postDestination" value="@row.Destination" />
                            <input type="text" hidden name="postReason" value="@row.Reason" />
                            <input type="text" hidden name="postStatus" value="@row.Status" />
                            <button type="submit" style="margin-right:5px; border-radius:20px; padding:2px 10px 2px 10px; margin-top:5px" name="UpdateCarBooking" value="UpdateCarBooking" class="btn btn-outline-dark"> Update </button>
                        </form>

                        @*Delete Popup model*@
                        <form action="#" method="post">
                            <input type="text" hidden name="postDeleteNo" value="@row.No" />
                            
                            <button type="button" data-toggle="modal" data-target="@String.Format("#{0}{1}", @row.No, @row.BookerName)" style="margin-right:5px; border-radius:20px; padding:2px 10px 2px 10px; margin-top:5px" class="btn btn-outline-dark">Delete</button>
                            <div class="modal fade" id="@String.Format("{0}{1}", @row.No, @row.BookerName)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Confirm delete booker: @row.BookerName</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h6>You've selected a booker with the following informations:</h6>
                                            <ul>
                                                <li>No : @row.No</li>
                                                <li>Name : @row.BookerName</li>
                                                <li>Car modal : @row.Car</li>
                                                <li>Department : @row.Department</li>
                                            </ul>
                                            Are you sure to delete booking?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" style="border-radius:25px; padding:4px 25px 4px 25px" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                                            <button type="submit" name="DeleteBooking" value="DeleteBooking" style="border-radius:25px; padding:4px 25px 4px 25px" class="btn btn-outline-danger">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<div class="text-center">
    <form action="~/car-booking-update/" method="post">
        <div class="btn-group">
            @for (i = 1; i <= ListCarBooking.TotalPages; i++)
            {
                @*Display Previous btn*@
            if (ListCarBooking.CurrentPage != 1)
            {
                if (i == 1)
                {
                    var j = ListCarBooking.CurrentPage - 1;
                    <button type="submit" name="btnPage" value="@j" class="btn btn-outline-dark"><< Previous</button>
                }
            }
            if (ListCarBooking.TotalPages > 25)
            {
                @*Diplay More Btn*@
            if (i > 12 && i < (ListCarBooking.TotalPages-4))
            {
                if (i == ListCarBooking.TotalPages-6 && i != ListCarBooking.CurrentPage)
                {
                    <button type="button" class="btn btn-outline-dark">. . .</button>
                }
            }
            else
            {
                    @*Diplay More Btn*@
                    if (i == ListCarBooking.CurrentPage)
                    {
                        <button type="submit" name="btnPage" value="@i" class="btn btn-outline-dark text-danger btn-danger disabled">@i</button>
                    }
                    else
                    {
                        <button type="submit" name="btnPage" value="@i" class="btn btn-outline-dark">@i</button>
                    }
                }
            }
            else
            {
                @*Diplay More Btn*@
                if (i == ListCarBooking.CurrentPage)
                {
                    <button type="submit" name="btnPage" value="@i" class="btn btn-outline-dark text-danger btn-danger disabled">@i</button>
                }
                else
                {
                    <button type="submit" name="btnPage" value="@i" class="btn btn-outline-dark">@i</button>
                }
            }
            @*Display Next Btn*@
            if (ListCarBooking.CurrentPage != ListCarBooking.TotalPages)
            {
                if (i == ListCarBooking.TotalPages)
                {
                    var j = ListCarBooking.CurrentPage + 1;
                    <button type="submit" name="btnPage" value="@j" class="btn btn-outline-dark">Next >></button>
                    }
                }
            }
        </div>
    </form>
</div>