@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Intranet.ModelCollection;
@{
	Layout = "Master.cshtml";
}
@{ 
    var myDb = new PetaPoco.Database("FIHRDBPath");
    var myDb1 = new PetaPoco.Database("FIHRDBPath");
    //var CurrentTime = DateTime.Now.Date.ToString();
    //CurrentTime = CurrentTime.Substring(0, @CurrentTime.IndexOf(" "));
    //CurrentTime = CurrentTime.Substring(0, CurrentTime.Length - 4);
    //CurrentTime = "1/2/";
    var SqlQuerySelDobEmployees = string.Format("SELECT ID, [Colleague Name] AS Colleague_Name, PhotoPath FROM Coll_Birthday_Photo");
    var DOBEmployees = myDb.Query<fi_birthday>(SqlQuerySelDobEmployees);
    var SqlOnLeaveToday = "SELECT * FROM VW_CH_EMPLOYEES_ON_LEAVE_TODAY_REF";
    var SqlOnLeaveTmr = "SELECT * FROM VW_CH_EMPLOYEES_ON_LEAVE_TMR";
    var OnLeaveEmployeeToday = myDb.Query<fi_onleaveToday>(SqlOnLeaveToday);
    var OnLeaveEmployeeTmr = myDb.Query<fi_onleaveToday>(SqlOnLeaveTmr);
    var hideCol = true;
    //string CurrentTime = DateTime.Now.Date.ToString();
    //CurrentTime = CurrentTime.Substring(0, @CurrentTime.IndexOf(" "));
}

@*@if(CurrentTime == "1/25/2018")
{
    <h6>@CurrentTime</h6>
}
<h6>@CurrentTime</h6>*@
<hr />
<div class="row">
    <div class="col-sm-3">
        <table class="table table-sm">
            <div class="container text-center">   
                <img src="https://png.icons8.com/office/30/000000/birthday.png">
                <h6>Today Birthday</h6>
            </div>
            <hr />
              
            <thead class="bg-danger text-white" style="font-weight:400">
                <tr>
                    <td scope="col">Happy Birthday</td>                    
                </tr>
            </thead>
            <tbody>
            @foreach (var k in DOBEmployees)
            {
                <tr>
                    <td>
                        <div class="card text-white mb-3" style="max-width: 16rem;">
                            <div class="card-header text-danger" style="font-weight:bold">
                                @k.Colleague_Name
                            </div>
                            <div class="card-body">
                                @if (k.PhotoPath != null)
                                {
                                    <img src="@string.Format("/Image/Employees/{0}",@k.PhotoPath)" style="width:200px" alt="@k.Colleague_Name" />
                                }
                                else
                                {
                                    <img src="~/Image/Employees/default_emp.png" style="width:200px" alt="@k.Colleague_Name" />
                                }

                                <hr />
                                <p class="text-dark">May the joy that you have spread in the past come back to you on this day. Wishing you a very happy birthday! <br /><span class="font-weight-bold">@k.Colleague_Name</span></p>
                            </div>
                        </div>
                    </td>
                </tr>

                hideCol = false;
            }
            @if (hideCol)
            {
                <tr>
                    <td colspan="2">No birthday today</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="col-sm-9">
        <div class="row">
            <div class="col-sm-7">
                <table class="table table-sm">
                    <div class="container text-center">
                        <img src="https://png.icons8.com/color/30/000000/leave.png">
                        <h6>On Leave Today</h6>
                    </div>
                    <hr />
                    <thead class="bg-danger text-white">
                        <tr>
                            <td scope="col">Employee</td>
                            <td scope="col">Dept</td>
                            <td scope="col">Reference</td>
                            <td scope="col">Ext</td>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var item in OnLeaveEmployeeToday)
                            {
                                var a = myDb1.SingleOrDefault<fi_onleave_ref>(String.Format("SELECT * FROM EMPLEAVEPLANBackup WHERE lpcode = {0} AND backup_date = CONVERT(DATETIME,CONVERT(VARCHAR(12),GETDATE(),112))", @item.LPCODE));
                            <tr>
                                <td>@item.EmployeeName</td>
                                <td>@item.Department</td>
                                @if(a != null)
                                {
                                    var b = myDb1.SingleOrDefault<fi_employee>(String.Format("SELECT * FROM Employees WHERE ID = '{0}'", @a.Id));
                                    <td>@b.Title @b.FirstName @b.LastName</td>
                                    <td>@b.Extension</td>
                                }
                                else
                                {
                                    <td>No referrence</td>
                                }
                            </tr>
                            }   
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-5">
                <table class="table table-sm">
                    <div class="container text-center">
                        <img src="https://png.icons8.com/dusk/30/000000/leave.png">
                        <h6>On Leave Tommorrow</h6>
                    </div>
                    <hr />
                    <thead class="bg-danger text-white">
                        <tr>
                            <td scope="col">Employee</td>
                            <td scope="col">Dept</td>
                            <td scope="col">Ext</td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in OnLeaveEmployeeTmr)
                        {
                            <tr>
                                <td>@item.EmployeeName</td>
                                <td>@item.Department</td>
                                <td>@item.Extension</td>
                            </tr>
                        }
                        <tr></tr>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

